@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-Thin.woff') format('woff');
    font-weight: 100; /* Thin */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200; /* Extra Light */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-Light.woff') format('woff');
    font-weight: 300; /* Light */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600; /* SemiBold */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800; /* ExtraBold */
}

@font-face {
    font-family: 'Pretendard';
    src: url('fonts/Pretendard-Black.woff') format('woff');
    font-weight: 900; /* Black */
}

body {
    font-family: 'Pretendard', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bold-text {
    font-family: 'Pretendard', Arial, sans-serif;
    font-weight: 700; /* Bold */
}

.light-text {
    font-family: 'Pretendard', Arial, sans-serif;
    font-weight: 300; /* Light */
}
